<%- include("partials/header"); -%>

<h1>Hello</h1>
<p><%= content %></p>

<% posts.forEach(function(post){ %>
    <h1> <%= post.title %></h1>
    <p> <%= post.body.substring(0, 100) %>... <a href='/posts/<%= post.title %>'>Read More</a> </p>
<% }) %>

<form action="/" method="post">
    <button type="submit" class="btn btn-lg bt">Compose</button>
</form>


<%- include("partials/footer"); -%>
